.page {
	padding-top: 15px;
  font-family: 'Cormorant Garamond';
	color: rgba(0, 0, 100, 1);
	position: relative;
	z-index: 0;
}

.page::before{
	content: "";
	width: 690px;
	height: 330px;
	box-sizing: border-box;
	border: 2px solid grey;
	position: absolute;
	top: 10px;
	left: calc(50vw - 345px);
	z-index: -1;
}

.page__menu {
  margin: 0 auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.centered-block {
  margin: auto;
}

.header {
  height: 100px;
  display: flex;
	justify-content: center;
  max-width: 1330px;
	min-width: 1280px;
}

.header__avatar{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	object-fit: cover;
}

.header__frase{
	margin-left: 30px;
	display: flex;
	align-items: center;
	transition: opacity .3s;
}

.header__frase:hover{
	opacity: .6;
}

.header__link {
  font-size: 28px;
  text-decoration: none;
	color: rgba(0, 0, 100, 1);
}

.header__link::after {
  content: "!";
}

.header__link[lang="ru"]::before {
  content: 'Привет, меня зовут ';
}

.header__link[lang="en"]::before {
  content: 'Hello, my name is ';
}

.header__link[lang="fr"]::before {
  content: 'Bonjour, je suis ';
}

.menu {
  display: flex;
  justify-content: center;
  min-height: 55px;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1330px;
	min-width: 1280px;
	margin: 0 auto 20px;
}

.menu__link {
  font-size: 18px;
  text-decoration: none;
  color: rgba(0, 0, 100, .6);
	transition: transform .3s;
}

.menu__link + .menu__link {
  margin-left: 20px;
}

.menu__link:hover{
	transform: scale(1.05);
}

.menu__link_active {
  text-decoration: underline;
}

.about__logo {
	width: 98px;
	height: 16px;
	display: inline-block;
	vertical-align: bottom;
}

.content {
	max-width: 1330px;
	min-width: 1280px;
}

.about {
	max-width: 662px;
	color: rgba(0, 0, 100, .6);
	min-height: 160px;
}

.about__list{
	margin-bottom: 0;
}

.about__text{
	display: none;
}

.about__item{
	opacity: 0;
}

.content__title {
  font-size: 34px;
  margin: 0 0 40px;
  text-align: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-row_reversed {
  flex-direction: row-reverse;
}

.flex-row_space_bottom {
  margin-bottom: 60px;
}

.flex-column {
  display: flex;
  justify-content: space-between;
}

.flex-column_reversed {
  flex-direction: column-reverse;
}

.project {
  background-position: center;
  background-size: cover;
}

.project__iframe_border{
	border: white 2px solid;
	box-sizing: border-box;
}

.project_width_l {
  width: 636px;
}

.project_width_m {
  width: 306px;
}

.project_height_xl {
  height: 670px;
}

.project_height_l {
  height: 430px;
}

.project_height_m {
  height: 290px;
}

.project_height_s {
  height: 240px;
}

.project_name_music-album {
  background-image: url(https://zhannaav.github.io/first-project/images/1.png);
}

.project_name_design-principles {
  /*background-image: url();*/
}

.project_name_slider {
  background-image: url(https://code.s3.yandex.net/web-code/slider.gif);
}

.project_name_reactive {
  background-image: url(https://code.s3.yandex.net/web-code/reactive.gif);
}

.project_name_how-to-study {
  background-image: url(https://code.s3.yandex.net/web-code/how-to-study.png);
  order: 3;
}

.project_name_across-russia {
  background-image: url(https://code.s3.yandex.net/web-code/across-russia.png);
  order: 2;
}

.project_name_mesto {
  background-image: url(https://code.s3.yandex.net/web-code/mesto.png);
  order: 1;
}

.project__overlay {
  background-color: rgba(0, 0, 100, .8);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  opacity: 0;
}

.project__overlay:hover {
  opacity: 1;
}

.project__iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  height: 95px;
	display: flex;
  justify-content: center;
  max-width: 1330px;
	min-width: 1280px;
}





